[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metapower"]
	path = metapower
	url = https://github.com/jasonwgriffin/metapower
